<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Conductor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tipo de Licencia</ion-label>
      <ion-input formControlName="licenseType"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-datetime formControlName="birthdate"></ion-datetime>
    </ion-item>
    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>
</ion-content>
