<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>Uber Duoc UC Vespucio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Uber Duoc UC Vespucio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h1>Bienvenido a Uber Duoc UC Vespucio</h1>
    <p>Esta es la página principal después del registro.</p>
    <!-- Aquí puedes añadir más elementos de la interfaz de usuario para simular el "front" -->
  </div>
</ion-content>
