/* Fondo general */
ion-content {
    --background: #f5f5f5; /* Color de fondo claro */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa toda la altura disponible */
    padding: 20px; /* Agrega un margen interno */
  }
  
  h1 {
    color: #000000; /* Color de texto similar a Uber */
    font-size: 2rem; /* Tamaño de fuente grande */
    text-align: center;
    margin-bottom: 10px;
  }
  
  p {
    color: #333333; /* Color de texto secundario */
    font-size: 1.2rem; /* Tamaño de fuente más pequeño */
    text-align: center;
  }
  
  ion-header {
    --background: #000000; /* Color de fondo negro para el encabezado */
    --color: #ffffff; /* Color de texto blanco */
  }
  
  ion-toolbar {
    --background: #000000; /* Color de fondo negro para la barra de herramientas */
  }
  
  ion-title {
    color: #ffffff; /* Color de texto blanco para el título */
  }
  