/* src/app/uber-front/uber-front.page.scss */

.container {
    text-align: center;
    padding: 16px;
  }
  
  h1 {
    color: #000;
    font-size: 2em;
    margin-bottom: 16px;
  }
  
  p {
    color: #bbbbbb;
    font-size: 1.2em;
  }
  
  .uber-logo {
    max-width: 80%;
    height: auto;
    margin: 20px 0;
  }
  
  .uber-gif {
    margin: 20px 0;
  }
  
  .info {
    background-color: #363535;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(116, 115, 115, 0.1);
  }
  
  .info h2 {
    color: #007bff; /* Color similar al de Uber */
  }
  