<app-header></app-header> <!-- Header constante -->
<!-- app.component.html -->
<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/uber-front">Home</ion-item>
      <ion-item routerLink="/nosotros">Contactanos</ion-item>
      <ion-item routerLink="/become-driver">conductores</ion-item>
      <ion-item routerLink="/find-ride">¿Quieres un viaje?</ion-item>
      <ion-item routerLink="/login">Cerrar Sesion</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>

<ion-content>
  <router-outlet></router-outlet> <!-- Aquí se cargan las diferentes páginas -->
</ion-content>

<app-footer></app-footer> <!-- Footer constante -->
