ion-header {
    --background: #000; // Fondo oscuro
  }
  
  ion-title {
    --color: #fff; // Texto blanco
  }
  
  .logo {
    height: 40px; // Ajusta el tamaño del logo
  }
  
  ion-icon {
    color: #fff; // Color blanco para los iconos
  }
  