<ion-card>
  <ion-card-header>
    <ion-card-title>Contacto</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mensaje</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      <ion-button expand="full" type="submit">Enviar</ion-button>
    </form>
  </ion-card-content>
</ion-card>