ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;
  }
  
  ion-button {
    margin-top: 16px;
  }
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-icon {
    color: #333;
  }
  
  ion-input, ion-datetime {
    --padding-start: 0;
  }
  
  ion-button {
    margin-top: 16px;
  }
  